# Portfolio Configuration
VITE_APP_TITLE=Mohamed Salim Ibaoui - Portfolio
VITE_GITHUB_URL=https://github.com/IbaouiSalim
VITE_LINKEDIN_URL=https://linkedin.com/in/IbaouiSalim
VITE_EMAIL=ibaouisalim@gmail.com
